@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Breve historia  de Under Armour</h1>
    <p>
        Under Armour es una empresa de ropa deportiva y calzado deportivo, con sede en Baltimore, 
        Maryland, Estados Unidos. Fue fundada el 29 de enero de 1990 por Kevin Plank.
        Under Armour se caracteriza por la producción de ropa ajustada, diseñada especialmente para utilizarse debajo 
        de la ropa deportiva.2 Actualmente patrocina a cuatro clubes deportivos en el fútbol de México y uno en Chile, 
        Alemania, Colombia y en Grecia además un patrocinio en Inglaterra.
        </p>

       <p>
        Under Armour se fundó originalmente bajo el nombre de Deportes PK en 1996 en Baltimore, Maryland, por Kevin Plank, 
        quien entonces se desempeñaba como jugador de fútbol americano en la Universidad de Maryland.
        </p>

         <p>
        Kevin inició la producción de ropa al sentirse cansado de tener que cambiar sus camisas empapadas de sudor tras el término de un partido,
        fue así como comenzó a diseñar ropa deportiva absorbente en el sotano de la casa de su abuela.
         </p>

         <p>
        En 1996, Under Armour había generado 17.000 dólares de ingresos y un año más tarde su producción aumento hasta alcanzar los 100.000 dólares, 
        fue entonces cuando Plank decidió adquirir una fábrica en Ohio para así aumentar la producción de camisetas.
        La popularidad de la marca en los Estados Unidos aumentó con la aparición de una foto del mariscal Jeff George con una camiseta Under Armour', 
        así como en la serie de televisión de HBO The Wire,3 donde la acción se desarrolla, precisamente, en Baltimore.
         </p>

        La primera venta importante de la empresa tuvo lugar cuando un administrador del equipo de tecnología de Georgía realizó a Plank un pedido de 350 camisetas. 
        La marca comenzó al expandirse cada vez más sobre el territorio norteaméricano y ganó prestigió cuando el actor Jamie Foxx apareció en la película Un domingo
        cualquiera utilizando una playera suspensoría Under Armour. Esto se debió a que durante la producción de la película, Plank había enviado muestras de sus camisetas 
        al equipo de vestuario, mismos que quedaron convencidos y adquirieron los productos de Plank. En 1998 Under Armour finalmente fue puesta en nómina.
    </p>

</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
