@{
    Page.Title = "Acerca de nosotros";
}

<section id="mainvideo">
 

  <video width="440" height="340" controls>
    <source src="UnderArmour.mp4" type="video/mp4">
    <source src="UnderArmour.mp4" type="video/ogg"> 
 </video>
 
    <h1>Tecnologia Under Armour</h1>
   
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>


